@property --main-color-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #f4acb7;
}

@property --main-color-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffcad4;
}

@property --secondary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffe5d9;
}

@property --accent-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #d8e2dc;
}

@property --accent-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #9d8189;
}

@property --dark-text {
    syntax: "<color>";
    inherits: false;
    initial-value: #5b182b;
}

@property --light-text {
    syntax: "<color>";
    inherits: false;
    initial-value: #f3f6f4;
}

@property --show-me {
    syntax: "inline | none";
    inherits: false;
    initial-value: none;
}

body {
    background-color: var(--main-color-1);
    font-family: 'Poltawski Nowy';
    font-weight: 600;
    font-size: 64px;
    color: var(--dark-text);
    text-align: center;
    padding: 20px;
}

.header {
    font-size: 42px;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.nav li {
    list-style-type: none;
}

a {
    color: var(--dark-text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top_block {
    font-size: 100px;
}

.body_sections {
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 20px;
}

.main {
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    border: var(--dark-text) solid 5px;
}

.body_sections p {
    font-family: Krub;
    font-weight: 450;
    font-size: 24px;
    margin: 0;
}

.illustrations {
    background-color: var(--main-color-2);
    display: grid;
    grid-template-rows: auto auto;
}

.illustrations div {
    margin: 0;
    padding: 0;
}

.title {
    grid-row: 1;
}

.content {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.illustrations img {
    max-width: 30vw;
    margin: 20px 20px 0 20px;
    border-radius: 15px;
    border: var(--dark-text) solid 5px;
    align-self: center;
    justify-self: center;
}

.main_subset {
    grid-column: 2;
    grid-row: 1;
}

.secondary_subset img {
    max-width: 20vw;
}

#left {
    grid-column: 1;
}

#right {
    grid-column: 3;
}

.illustrations div {
    border: none;
}

.subset_name {
    font-size: 40px;
    margin: 0;
}

.about {
    background-color: var(--accent-1);
}

.education {
    background-color: var(--accent-2);
    color: var(--light-text);
}

.ed_wrapper {
    border-radius: 20px;
    border: 5px solid black;
    padding: 10px;
    background-color: var(--secondary-color);
}

.school {
    background-color: var(--secondary-color);
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.school div {
    display: flex;
    justify-content: space-between;
}

.school h5 {
    font-size: 32px;
    margin: 0;
    padding: 20px;
}

.school p {
    font-family: Krub;
    font-size: 24px;
    margin: 0;
    padding: 20px;
}